#cim{
    color: white;
}

button{
	width: 50px;
	padding: 5px 0;
	text-align: center;
	margin: 3px 1px;
	border-radius: 5px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	background: #009688;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	position: relative;
	left: 0;
	bottom: 0;

}